---
layout: default
overview: true
---
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ORM Cheat Sheet | Welcome</title>
  <link rel="stylesheet" href="/Frekis-Playground/css/foundation.min.css" />
  <link rel="stylesheet" href="/Frekis-Playground/css/style.css" />
  <link rel="stylesheet" href="/Frekis-Playground/css/pastie.css" />
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/rainbow-custom.min.js"></script>
</head>

<body>
  <div class="hd">
  
{% assign imgsource='http://www.orm-designer.com/uploads/thumbs/' %}
{% assign imgfile='61739-no-more-double-work-359x221.jpg'%}

{% assign usedtabs='xml, php, yml, link, more' %}
{% include tabstest.html %}

{% assign usedtabs='xml, php, yml, link' %}
{% include tabstest.html %}

{% assign usedtabs='yml, link, more' %}
{% include tabstest.html %}

{% assign usedtabs='xml, php, yml, link, more' %}
{% include tabstest.html %}

{% assign usedtabs='xml, php, yml, link, more' %}
{% include tabstest.html %}

</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    
   
  </body>
</html>
