<h2>Elementy</h2>

{% assign xml='/source/module.md' %}
{% assign yml='/source/entity.md' %}
{% assign ant='' %}

{% include element_template.html%}

<!--
<hr>
obsah xml <br>
{{xml}}
{{yml}}
{{ant}}

<hr>

capture<br>
{% capture file %}
{% include {{xml}} %}
{% endcapture %}

{{file | markdownify}}

<hr>

capture<br>
{% capture file %}
{% include {{yml}} %}
{% endcapture %}

{{file | markdownify}}

<hr>

capture<br>
{% capture file %}
{% include {{ant}} %}
{% endcapture %}

{{file | markdownify}}

<hr>
-->
