<h2>Elementy</h2>

{% assign xml='/source/module.md' %}
{% assign yml='/source/entity.md' %}
{% assign ant='/source/field.md' %}

<hr>
obsah xml <br>
{{xml}}
{{yml}}
{{ant}}

<hr>

include xml<br>
{% include {{xml}} %}

<hr>

capture<br>
{% capture file %}
{% include {{xml}} %}
{% endcapture %}

{{file | markdonify}}

<hr>

capture<br>
{% capture file %}
{% include {{xml}} %}
{% endcapture %}

{{file | markdonify}}

<hr>

capture<br>
{% capture file %}
{% include {{xml}} %}
{% endcapture %}

{{file | markdonify}}

<hr>

obsah file<br>
{{file}}


