{{tabstest}}

    <div class="row">
      <div class="large-7 columns">
        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1">XML</a></dd>
          <dd><a href="#panel2-2">YML</a></dd>
          <dd><a href="#panel2-3">Annotations</a></dd>
          <dd><a href="#panel2-4">More info</a></dd>
          <dd><a href="#panel2-5">Links</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <pre><code data-language="python">def openFile(path):
            file = open(path, "r")
            content = file.read()
            file.close()
            return content</code></pre>
          </div>
          <div class="content" id="panel2-2">
            <p>Second panel content goes here...</p>
          </div>
          <div class="content" id="panel2-3">
            <p>Third panel content goes here...</p>
          </div>
          <div class="content" id="panel2-4">
            <p>Fourth panel content goes here...</p>
          </div>
          <div class="content" id="panel2-5">
            <p>Fifth panel content goes here...</p>
          </div>
        </div>
      </div>
      <div class="large-5 columns">
        <img alt="Model" src="http://www.orm-designer.com/uploads/thumbs/61739-no-more-double-work-359x221.jpg" style="margin-top: 2.7rem;" />
      </div>
    </div>
