{{usedtabs}}

 {% assign isLink='false' %}
 {% assign isMore='false' %}
 {% assign isPhp='false' %}
 {% assign isYml='false' %}
 {% assign isXml='false' %}

{% if contains... 'link' %}
  {% assign isActive='link' %}
  {% assign isLink='true' %}
{% endif %}

{%if contains... 'more' %}
  {% assign isActive='more'%}
  {% assign isMore='true' %}
{% endif %}

{%if contains... 'php' %}
  {% assign isActive='php' %}
  {% assign isPhp='true' %}
{% endif %}

{%if contains... 'yml' %}
  {% assign isActive='yml' %}
  {% assign isYml='true' %}
{% endif %}

{%if contains... 'xml' %}
  {% assign isActive='xml' %}
  {% assign isXml='true' %}
{% endif %}

active {{isActive}}<br>
link {{isLink}}<br>
moe {{isMore}}<br>
pho {{isPhp}}<br>
yml {{isYml}}<br>
xml {{isXml}}<br>


    <div class="row">
      <div class="large-7 columns">
        <dl class="tabs" data-tab>
          <dd {if isActive=='xml'}class="active"{% endif %}><a href="#panel2-1">XML</a></dd>
          <dd {if isActive=='yml'}class="active"{% endif %}><a href="#panel2-2">YML</a></dd>
          <dd {if isActive=='php'}class="active"{% endif %}><a href="#panel2-3">Annotations</a></dd>
          <dd {if isActive=='more'}class="active"{% endif %}><a href="#panel2-4">More info</a></dd>
          {%if isLink %}<dd {% if isActive=='link' %}class="active"{% endif %}><a href="#panel2-5">Links</a></dd>{% endif %}
        </dl>
        <div class="tabs-content">
            {% if isXml %}
                <div class="content active" id="panel2-1">
                    <pre><code data-language="python">def openFile(path):
                    file = open(path, "r")
                    content = file.read()
                    file.close()
                    return content</code></pre>
                </div>
            {% endif %}
            {% if isYml %}
                <div class="content" id="panel2-2">
                    <p>Second panel content goes here...</p>
                </div>
           {% endif %}
           {% if isPhop %}
                <div class="content" id="panel2-3">
                    <p>Third panel content goes here...</p>
                </div>
           {% endif %}
           {% if isMore %}
                <div class="content" id="panel2-4">
                    <p>Fourth panel content goes here...</p>
                </div>
           {% endif %}
           {% if isLink %}
                <div class="content" id="panel2-5">
                    <p>Fifth panel content goes here...</p>
                </div>
           {% endif %}
        </div>
      </div>
      
      <div class="large-5 columns">
        <img alt="Model" src="http://www.orm-designer.com/uploads/thumbs/61739-no-more-double-work-359x221.jpg" style="margin-top: 2.7rem;" />
      </div>
    </div>
