{{usedtabs}}

 {% assign isLink='false' %}
 {% assign isMore='false' %}
 {% assign isPhp='false' %}
 {% assign isYml='false' %}
 {% assign isXml='false' %}

{% if usedtabs contains 'link' %}
  {% assign isActive='link' %}
  {% assign isLink='true' %}
{% endif %}

{%if usedtabs contains 'more' %}
  {% assign isActive='more'%}
  {% assign isMore='true' %}
{% endif %}

{%if usedtabs contains 'php' %}
  {% assign isActive='php' %}
  {% assign isPhp='true' %}
{% endif %}

{%if usedtabs contains 'yml' %}
  {% assign isActive='yml' %}
  {% assign isYml='true' %}
{% endif %}

{%if usedtabs contains 'xml' %}
  {% assign isActive='xml' %}
  {% assign isXml='true' %}
{% endif %}

active {{isActive}}<br>
link {{isLink}}<br>
moe {{isMore}}<br>
pho {{isPhp}}<br>
yml {{isYml}}<br>
xml {{isXml}}<br>


 
